<%# app/views/immunization_tracker/_list.html.erb %>
<div id="filterrific_results">

  <%= page_entries_info immunization_tasks%>

  <table class="table table-striped" style="border-spacing: 5px">
    <tr>
      <th>Patient ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Home Phone</th>
      <th>Cell Phone</th>
      <th>Immunization Needed</th>
      <th>Series Number</th>
      <th>Task Created at</th>
    </tr>
    <% immunization_tasks.each do |immunization_task| %>
      <tr>
        <td><%= link_to "Delete", {controller: 'immunization_task_statuses',  action: "create", immunization_task_id: immunization_task.id}, method: :post %>
        <td><%= immunization_task.patient_id %></td>
        <td><%= Patient.find_by_patient_id(immunization_task.patient_id).patient_name%></td>
        <td><%= Patient.find_by_patient_id(immunization_task.patient_id).email %></td>
        <td><%= number_to_phone(Patient.find_by_patient_id(immunization_task.patient_id).phone_number) %></td>
        <td><%= number_to_phone(Patient.find_by_patient_id(immunization_task.patient_id).cell_phone) %> </td>
        <td><%= immunization_task.immunization %></td>
        <td><%= immunization_task.series_number %></td>
        <td><%= immunization_task.created_at.to_date %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate immunization_tasks %>

</div>

