<%# app/views/students/index.html.erb %>
<h1>Immunization Follow-Ups</h1>

<%#
  Filterrific adds some magic when you use form_for with @filterrific:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Patients last immunized after: 
      <%= f.date_select :with_last_immunization_on %>
  </div>
  <div>
    <%= f.check_box :with_series_followup %>Only series follow-up vaccines
  </div>

  <div>
    <h3>Select Immunizations:</h3>
    <div class="row">
      <% @filterrific.select_options[:with_immunization].each do |i| %>
        <div class="col-md-4">
          <%= check_box_tag("filterrific[with_immunization][]",i) %>
          <%=h i %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    <%# See below for the Student.options_for_sorted_by presenter method %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_immunization_tasks_path,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(partial: 'immunization_tasks/list', locals: { immunization_tasks: @immunization_tasks }) %>
