<%# app/views/students/index.html.erb %>
<h1>Immunization Follow-Ups</h1>

<%#
  Filterrific adds some magic when you use form_for with @filterrific:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    <%= f.check_box :with_series_followup %>Only series follow-up vaccines
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.check_box :with_influenza %>Influenza</div>
    <div class="col-md-2"><%= f.check_box :with_hepatitis_a %>Hepatitis A</div>
    <div class="col-md-2"><%= f.check_box :with_hepatitis_b %>Hepatitis B</div>
    <div class="col-md-2"><%= f.check_box :with_rotavirus %>Rotavirus</div>
    <div class="col-md-2"><%= f.check_box :with_varicella %>Varicella</div>
    <div class="col-md-2"><%= f.check_box :with_zoster %>Zoster</div>
    <div class="col-md-2"><%= f.check_box :with_diptheria_tetanus_pertussis %>Diptheria, Tetanus, Pertussis</div>
    <div class="col-md-2"><%= f.check_box :with_haemophilus_influenza %>Haemophilus Influenza</div>
    <div class="col-md-2"><%= f.check_box :with_pneumococcal_conjugate %>Pneumococcal Conjugate</div>
    <div class="col-md-2"><%= f.check_box :with_pneumococcal_polysaccharide %>Pneumococcal Polysaccharide</div>
    <div class="col-md-2"><%= f.check_box :with_poliovirus %>Poliovirus</div>
    <div class="col-md-2"><%= f.check_box :with_measles_mumps_rubella %>Measles, Mumps, Rubella</div>
    <div class="col-md-2"><%= f.check_box :with_human_papillomavirus %>Human Papillomavirus</div>
    <div class="col-md-2"><%= f.check_box :with_meningococcal %>Meningococcal</div>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    <%# See below for the Student.options_for_sorted_by presenter method %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_immunization_tasks_path,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(partial: 'immunization_tasks/list', locals: { immunization_tasks: @immunization_tasks }) %>
